QWidget#main_window {
    background-color: white;
}

QLabel {
    font-size: 20px;
    font-family:monospace;
}

QLineEdit {
    font-size: 18px;
    font-family:monospace;
}

/* .hbl2 {
    background-color: #FFD53F;
} */