@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'main';
    src: url('../static/fonts/mainFont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}